
    #hbSpacer{

    }

    .root{
         -fx-font-size: 16pt;
         -fx-font-family: "Courier New";
         /*-fx-base: rgb(132, 145, 47);*/
         -fx-background: rgb(220, 230, 210);
         -fx-padding: 10 10 10 10;
         -fx-border-width: 1;
         -fx-border-color: #E8E8E8 transparent transparent transparent;
     }



/*Button*/

    .button{
        -fx-text-fill: rgb(49, 89, 23);
        -fx-border-color: rgb(49, 89, 23);
        -fx-padding: 3 6 6 6;
    }

    .header-section.button{
        -fx-row-valignment: END;
        -fx-min-width: 1.5em;
        -fx-pref-width: 1.5em;
        -fx-min-height: 1.5em;
        -fx-pref-height: 1.5em;
    }


    #hbProjectCreateBottom{
        -fx-spacing: 0.5em;
    }

    #btnSaveProject{
        -fx-spacing: 10em;
        -fx-alignment: top-center;
        -fx-text-fill: red;
    }

    #btnHome{
        -fx-min-width: 4em;
    }

    #btnSaveTasks{
        -fx-min-width: 7em;
    }

    .button:hover {
        -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    }

    .button:focused{

    }

/*Label*/

    .header-section.label{
        -fx-background-color: rgb(155, 175, 181);
        -fx-text-fill: black;
        -fx-font-weight: bold;
        -fx-text-alignment: CENTER;

        -fx-border-color: rgb(113,128,132);

        -fx-min-height: 1.5em;
    }

    #lblHeadline{

    }




/*Scrollpane*/

    .scroll-pane {
        -fx-background-color: black; /*Äußere Farbe*/
    }

    .scroll-bar:horizontal, .scroll-bar:vertical{
        -fx-background-color: transparent;
    }

    .increment-button, .decrement-button {
        -fx-background-color: transparent;
        -fx-border-color: transparent;
    }

    .scroll-bar:horizontal .track,
    .scroll-bar:vertical .track{
        -fx-background-color: transparent;
        -fx-border-color: transparent;
        -fx-background-radius: 0em;
    }

    .scroll-bar:horizontal .thumb,
    .scroll-bar:vertical .thumb {
        -fx-background-color: rgb(220, 230, 210); /*Innere Farbe*/
        -fx-background-radius: 5em;
    }

    .scroll-pane > .corner { /*Färbt Corner unten rechts schwarz*/
        -fx-background-color: black;
    }
