    {
        dark-primary-color: #455A64;
        default-primary-color: #607D8B;
        light-primary-color: #CFD8DC;
        text-primary-color: #FFFFFF;
        accent-color: #009688;
        primary-text-color: #212121;
        secondary-text-color: #757575;
        divider-color: #BDBDBD;

    }

    .root{
         -fx-font-size: 16pt;
         /*-fx-base: rgb(132, 145, 47);*/
         -fx-background: light-primary-color;
         -fx-padding: 10 10 10 10;
         -fx-border-width: 1;
         -fx-border-color: dark-primary-color transparent transparent transparent;
    }

    .project-create-center-section{
        -fx-min-width: 40em;
    }
    .task-create-center-section{
        -fx-min-width: 40em;
    }


/*Button*/

    .button{
        -fx-text-fill: primary-text-color;
        -fx-border-color: dark-primary-color;
        -fx-padding: 10;
        -fx-text-alignment: center;

    }

    .header-section.button{
        -fx-min-width: 2.5em;
        -fx-pref-widt: 2.5em;
        -fx-min-height: 2.5em;
        -fx-pref-height: 2.5em;
    }

    .project-element-section.button{
        -fx-min-width: 1.5em;
        -fx-pref-width: 1.5em;
        -fx-min-height: 1.5em;
        -fx-pref-height: 1.5em;
        -fx-padding: 0;
        -fx-text-alignment: center;
        -fx-alignment: center;
    }

    .project-element-section.menu-button{
        -fx-min-height: 1.8em;
        -fx-max-height: 1.8em;
        -fx-padding: 0;
    }

    .task-section.button{
        -fx-min-width: 1.8em;
        -fx-pref-width: 1.8em;
        -fx-min-height: 1.8em;
        -fx-pref-height: 1.8em;
        -fx-padding: 0;
    }


    .task-element.section.menu-button{
        -fx-min-height: 1.8em;
    }

    #btnSaveProject,#btnSaveTasks{
        -fx-spacing: 10em;
        -fx-alignment: top-center;
    }

    #btnHome{
        -fx-min-width: 4em;
    }




/*Label*/

    .header-section.label{
        -fx-background-color: default-primary-color;
        -fx-text-Sfill: black;
        -fx-font-weight: bold;

        -fx-min-height: 2.5em;
        -fx-min-width: 50em;

        -fx-padding: 0 0 0 10;
        }

    .project-element-section.label{
        -fx-text-Sfill: black;
        -fx-font-weight: bold;
        -fx-text-alignment: CENTER;
        -fx-alignment: center-left;

        -fx-min-height: 1.8em;
        -fx-padding: 0 0 0 10;
    }

    .project-element-section-lblProjectname{
        -fx-background-color: #CFD8DC;
        -fx-min-width: 27em;
        -fx-max-width: 27em;
        -fx-min-height: 1.8em;
    }

    .project-element-section-lblProjectDescription{
        -fx-min-width: 29.8em;
        -fx-max-width: 29.8em;
        -fx-min-height: 17em;
        -fx-max-height: 17em;
        -fx-alignment: top-left;
        -fx-content-display: left;
        -fx-padding: 0 0 0 10;
    }

    .task-element-section.label{
        -fx-background-color: light-primary-color;
        -fx-min-width: 15em;
        -fx-max-width: 15em;
        -fx-min-height: 1.8em;
        -fx-padding: 0 0 0 10;
    }




/*VBox, HBox*/
    HBox.project-element-section, VBox.project-element-section{
        -fx-spacing: 10;
        -fx-padding: 3;
        -fx-min-width: 30em;
        -fx-min-height: 20em;
        -fx-max-width: 30em;
        -fx-maxheight: 20em;
    }

    VBox.task-section{
        -fx-min-width: 20.3em;
        -fx-border-color: divider-color;
    }

    VBox.task-element-section{
        -fx-min-width: 3.3em;
        -fx-min-height: 1.4em;
        -fx-max-height: 1.4em;
        -fx-font-size: 12pt;
        -fx-border-color: divider-color; /*später müssen die einzelnen Employee-Objekte umrandet werden*/
        -fx-vgap: 5;
    }

    .project-element-section-vbProjectBox{
        -fx-border-color: black;
        -fx-max-height: 20em;
        -fx-min-height: 20em;
        -fx-min-width: 30.8em;
        -fx-max-width: 30.8em;
        -fx-background-color: #FFFFFF;

    }

    HBox.task-element-section{
        -fx-border-color: divider-color;
        -fx-hgap: 5;
    }

    #hbHeaderProjectScreen{
        /*fx-spacing: 500; Entfernt den Button vom Label*/
    }

    HBox.bottom-section{
        -fx-spacing: 5;
    }



/*GridPane*/
    GridPane{
        -fx-hgap: 10;
        -fx-vgap: 10;
        -fx-padding: 10;
    }


/*Scrollpane*/

    .scroll-pane {
        -fx-background-color: primary-text-color; /*Äußere Farbe*/
    }

    .scroll-bar:horizontal, .scroll-bar:vertical{
        -fx-background-color: light-primary-color;
    }

    .increment-button, .decrement-button {
        -fx-background-color: light-primary-color;
        -fx-border-color: dark-primary-color;
    }

    .scroll-bar:horizontal .track,
    .scroll-bar:vertical .track{
        -fx-background-color: light-primary-color;
        -fx-border-color: dark-primary-color;
        -fx-border-width: 1;
        -fx-background-radius: 0em;
    }

    .scroll-bar:horizontal .thumb,
    .scroll-bar:vertical .thumb {
        -fx-background-color: white; /*Innere Farbe*/
        -fx-background-radius: 4em;
    }

    .scroll-pane > .corner { /*Färbt Corner unten rechts*/
        -fx-background-color: light-primary-color;
    }


/*Hovers*/

  .button:hover {
      -fx-background-color: linear-gradient(#2A5058, accent-color);
      -fx-cursor: hand;
  }

    .menu-button:hover {
        -fx-background-color: linear-gradient(#2A5058, accent-color);
        -fx-cursor: hand;
    }

    .menu-item:hover {
        -fx-background-color: linear-gradient(#2A5058, accent-color);
        -fx-cursor: hand;
    }

    .project-element-section-lblProjectname:hover{
        -fx-background-color: linear-gradient(#2A5058, accent-color);
        -fx-cursor: hand;
    }

    .task-element-section.label:hover{
        -fx-background-color: linear-gradient(#2A5058, accent-color);
        -fx-cursor: hand;
    }
